@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Mouse Memoirs', sans-serif;

  }
  
  .cards {
    display: grid;
    width:14.5rem;
    height:17rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
   
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    border: #304ea5;
    
  }
  
  .card__image {      
    width: 100%;
    height: 325px;
    
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
    
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
    
  }
  
  .card__header {
    position: relative;
    display: flex;
    /* align-items: center; */
    gap: 1em;
    padding: 1.5em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
 
  }
  
  .card__arc {
    position: absolute;
  }
  
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 2em;
    margin: 0;
    color: 	#746bab;
    font-family: 'Mouse Memoirs', sans-serif;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: .8em; 
    color: #746bab;  
  }
  
  
  .card__description {
    padding: 0 1em 1em;
    margin: 0;
    color:#746bab;
    font-family: 'Mouse Memoirs', sans-serif;  
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    /* overflow: hidden; */
  }  


  .google-link{
    text-decoration: none;
    font-family: 'Mouse Memoirs', sans-serif;
    color: 			#746bab;
  }
