@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

.page-title{
    font-family: 'Mouse Memoirs', sans-serif;
}

.pagination{
    margin: 2em;
}

.page-link{
    /* background-color: 	#fbbe4f; */
    /* border: #304ea5; */
    color: #304ea5;
    font-size: larger;
}

.page-link:hover{
    cursor: pointer;
}

.search-div{
    width: fit-content;
    margin-top: 2em;
   
}

.search-btn{
    font-size: large;
}
.search-input{
    width:max-content;
}

::placeholder{
    font-size: large;
    color: #304ea5;
  
}

.nav-search-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}