@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');


.title, .sub-title{
    font-family: 'Mouse Memoirs', sans-serif;
    color: white;
}

h4{
    padding-top: 20px;
}

.home-bg{
    width: 100vw;
  
    
}

/* BUTTON */


.start-btn {
  font-size: x-large;
  color: #304ea5;
  text-transform: uppercase;
  padding: 0.5em 1.5em;
  background: 	#fbbe4f;
  border: #fbbe4f;
  border-radius: 0.75em;
  margin: 2em;
  font-family: 'Mouse Memoirs', sans-serif;
}

button.start-btn:hover{
    cursor: pointer;
    background-color:  #f5ac25;
    color: #304ea5;
  }


/* Firework */

body {
  margin: 0;
  padding: 0;
  background: #000;
  /* overflow: hidden; */
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -245px -200.6666666667px #ffaa00, 20px -89.6666666667px #00ff40, 72px -380.6666666667px #00ff8c, 109px -379.6666666667px #bf00ff, 17px -86.6666666667px #003cff, -129px -220.6666666667px #ff0022, -17px -340.6666666667px #ffc400, 101px -70.6666666667px #ff003c, 172px 73.3333333333px #09ff00, -237px 42.3333333333px #ea00ff, 119px -261.6666666667px #00ff40, 52px -202.6666666667px #2f00ff, -28px -301.6666666667px #ff0044, -68px -34.6666666667px #00ffc4, 82px 65.3333333333px #d000ff, -178px -31.6666666667px #b300ff, -179px -300.6666666667px #5900ff, 249px -276.6666666667px #1500ff, -180px -120.6666666667px #ffe600, 94px -191.6666666667px #ddff00, 156px -2.6666666667px #eaff00, 146px -117.6666666667px #1eff00, 120px 1.3333333333px #ff009d, -50px -105.6666666667px #3300ff, 165px 58.3333333333px #ffa600, -81px -394.6666666667px #ff001e, 103px 65.3333333333px #6a00ff, -65px -248.6666666667px #00ffd0, 207px 49.3333333333px #ffb700, -7px -244.6666666667px #ffb300, 190px -34.6666666667px #40ff00, -206px -248.6666666667px #fb00ff, 250px 12.3333333333px #00ff26, -78px -190.6666666667px #0077ff, -208px -278.6666666667px #00ffe1, -69px -226.6666666667px #95ff00, 129px -19.6666666667px #0d00ff, -222px -101.6666666667px #1e00ff, -6px -3.6666666667px #00ffd9, -205px -255.6666666667px #e6ff00, 222px 5.3333333333px #00ff37, -226px -225.6666666667px #aa00ff, 51px -12.6666666667px #0091ff, -109px -364.6666666667px #ff3300, 82px 80.3333333333px #ff9500, 34px -289.6666666667px #0080ff, -1px -362.6666666667px #ff0073, 91px -253.6666666667px #00ff48, 136px -369.6666666667px #4dff00, 128px -37.6666666667px aqua, 206px -299.6666666667px #5100ff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -245px -200.6666666667px #ffaa00, 20px -89.6666666667px #00ff40, 72px -380.6666666667px #00ff8c, 109px -379.6666666667px #bf00ff, 17px -86.6666666667px #003cff, -129px -220.6666666667px #ff0022, -17px -340.6666666667px #ffc400, 101px -70.6666666667px #ff003c, 172px 73.3333333333px #09ff00, -237px 42.3333333333px #ea00ff, 119px -261.6666666667px #00ff40, 52px -202.6666666667px #2f00ff, -28px -301.6666666667px #ff0044, -68px -34.6666666667px #00ffc4, 82px 65.3333333333px #d000ff, -178px -31.6666666667px #b300ff, -179px -300.6666666667px #5900ff, 249px -276.6666666667px #1500ff, -180px -120.6666666667px #ffe600, 94px -191.6666666667px #ddff00, 156px -2.6666666667px #eaff00, 146px -117.6666666667px #1eff00, 120px 1.3333333333px #ff009d, -50px -105.6666666667px #3300ff, 165px 58.3333333333px #ffa600, -81px -394.6666666667px #ff001e, 103px 65.3333333333px #6a00ff, -65px -248.6666666667px #00ffd0, 207px 49.3333333333px #ffb700, -7px -244.6666666667px #ffb300, 190px -34.6666666667px #40ff00, -206px -248.6666666667px #fb00ff, 250px 12.3333333333px #00ff26, -78px -190.6666666667px #0077ff, -208px -278.6666666667px #00ffe1, -69px -226.6666666667px #95ff00, 129px -19.6666666667px #0d00ff, -222px -101.6666666667px #1e00ff, -6px -3.6666666667px #00ffd9, -205px -255.6666666667px #e6ff00, 222px 5.3333333333px #00ff37, -226px -225.6666666667px #aa00ff, 51px -12.6666666667px #0091ff, -109px -364.6666666667px #ff3300, 82px 80.3333333333px #ff9500, 34px -289.6666666667px #0080ff, -1px -362.6666666667px #ff0073, 91px -253.6666666667px #00ff48, 136px -369.6666666667px #4dff00, 128px -37.6666666667px aqua, 206px -299.6666666667px #5100ff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -245px -200.6666666667px #ffaa00, 20px -89.6666666667px #00ff40, 72px -380.6666666667px #00ff8c, 109px -379.6666666667px #bf00ff, 17px -86.6666666667px #003cff, -129px -220.6666666667px #ff0022, -17px -340.6666666667px #ffc400, 101px -70.6666666667px #ff003c, 172px 73.3333333333px #09ff00, -237px 42.3333333333px #ea00ff, 119px -261.6666666667px #00ff40, 52px -202.6666666667px #2f00ff, -28px -301.6666666667px #ff0044, -68px -34.6666666667px #00ffc4, 82px 65.3333333333px #d000ff, -178px -31.6666666667px #b300ff, -179px -300.6666666667px #5900ff, 249px -276.6666666667px #1500ff, -180px -120.6666666667px #ffe600, 94px -191.6666666667px #ddff00, 156px -2.6666666667px #eaff00, 146px -117.6666666667px #1eff00, 120px 1.3333333333px #ff009d, -50px -105.6666666667px #3300ff, 165px 58.3333333333px #ffa600, -81px -394.6666666667px #ff001e, 103px 65.3333333333px #6a00ff, -65px -248.6666666667px #00ffd0, 207px 49.3333333333px #ffb700, -7px -244.6666666667px #ffb300, 190px -34.6666666667px #40ff00, -206px -248.6666666667px #fb00ff, 250px 12.3333333333px #00ff26, -78px -190.6666666667px #0077ff, -208px -278.6666666667px #00ffe1, -69px -226.6666666667px #95ff00, 129px -19.6666666667px #0d00ff, -222px -101.6666666667px #1e00ff, -6px -3.6666666667px #00ffd9, -205px -255.6666666667px #e6ff00, 222px 5.3333333333px #00ff37, -226px -225.6666666667px #aa00ff, 51px -12.6666666667px #0091ff, -109px -364.6666666667px #ff3300, 82px 80.3333333333px #ff9500, 34px -289.6666666667px #0080ff, -1px -362.6666666667px #ff0073, 91px -253.6666666667px #00ff48, 136px -369.6666666667px #4dff00, 128px -37.6666666667px aqua, 206px -299.6666666667px #5100ff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -245px -200.6666666667px #ffaa00, 20px -89.6666666667px #00ff40, 72px -380.6666666667px #00ff8c, 109px -379.6666666667px #bf00ff, 17px -86.6666666667px #003cff, -129px -220.6666666667px #ff0022, -17px -340.6666666667px #ffc400, 101px -70.6666666667px #ff003c, 172px 73.3333333333px #09ff00, -237px 42.3333333333px #ea00ff, 119px -261.6666666667px #00ff40, 52px -202.6666666667px #2f00ff, -28px -301.6666666667px #ff0044, -68px -34.6666666667px #00ffc4, 82px 65.3333333333px #d000ff, -178px -31.6666666667px #b300ff, -179px -300.6666666667px #5900ff, 249px -276.6666666667px #1500ff, -180px -120.6666666667px #ffe600, 94px -191.6666666667px #ddff00, 156px -2.6666666667px #eaff00, 146px -117.6666666667px #1eff00, 120px 1.3333333333px #ff009d, -50px -105.6666666667px #3300ff, 165px 58.3333333333px #ffa600, -81px -394.6666666667px #ff001e, 103px 65.3333333333px #6a00ff, -65px -248.6666666667px #00ffd0, 207px 49.3333333333px #ffb700, -7px -244.6666666667px #ffb300, 190px -34.6666666667px #40ff00, -206px -248.6666666667px #fb00ff, 250px 12.3333333333px #00ff26, -78px -190.6666666667px #0077ff, -208px -278.6666666667px #00ffe1, -69px -226.6666666667px #95ff00, 129px -19.6666666667px #0d00ff, -222px -101.6666666667px #1e00ff, -6px -3.6666666667px #00ffd9, -205px -255.6666666667px #e6ff00, 222px 5.3333333333px #00ff37, -226px -225.6666666667px #aa00ff, 51px -12.6666666667px #0091ff, -109px -364.6666666667px #ff3300, 82px 80.3333333333px #ff9500, 34px -289.6666666667px #0080ff, -1px -362.6666666667px #ff0073, 91px -253.6666666667px #00ff48, 136px -369.6666666667px #4dff00, 128px -37.6666666667px aqua, 206px -299.6666666667px #5100ff;
  }
}
@keyframes bang {
  to {
    box-shadow: -245px -200.6666666667px #ffaa00, 20px -89.6666666667px #00ff40, 72px -380.6666666667px #00ff8c, 109px -379.6666666667px #bf00ff, 17px -86.6666666667px #003cff, -129px -220.6666666667px #ff0022, -17px -340.6666666667px #ffc400, 101px -70.6666666667px #ff003c, 172px 73.3333333333px #09ff00, -237px 42.3333333333px #ea00ff, 119px -261.6666666667px #00ff40, 52px -202.6666666667px #2f00ff, -28px -301.6666666667px #ff0044, -68px -34.6666666667px #00ffc4, 82px 65.3333333333px #d000ff, -178px -31.6666666667px #b300ff, -179px -300.6666666667px #5900ff, 249px -276.6666666667px #1500ff, -180px -120.6666666667px #ffe600, 94px -191.6666666667px #ddff00, 156px -2.6666666667px #eaff00, 146px -117.6666666667px #1eff00, 120px 1.3333333333px #ff009d, -50px -105.6666666667px #3300ff, 165px 58.3333333333px #ffa600, -81px -394.6666666667px #ff001e, 103px 65.3333333333px #6a00ff, -65px -248.6666666667px #00ffd0, 207px 49.3333333333px #ffb700, -7px -244.6666666667px #ffb300, 190px -34.6666666667px #40ff00, -206px -248.6666666667px #fb00ff, 250px 12.3333333333px #00ff26, -78px -190.6666666667px #0077ff, -208px -278.6666666667px #00ffe1, -69px -226.6666666667px #95ff00, 129px -19.6666666667px #0d00ff, -222px -101.6666666667px #1e00ff, -6px -3.6666666667px #00ffd9, -205px -255.6666666667px #e6ff00, 222px 5.3333333333px #00ff37, -226px -225.6666666667px #aa00ff, 51px -12.6666666667px #0091ff, -109px -364.6666666667px #ff3300, 82px 80.3333333333px #ff9500, 34px -289.6666666667px #0080ff, -1px -362.6666666667px #ff0073, 91px -253.6666666667px #00ff48, 136px -369.6666666667px #4dff00, 128px -37.6666666667px aqua, 206px -299.6666666667px #5100ff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}