
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.must-be-loggued, .video-title{
    justify-content: center;
    font-family: 'Mouse Memoirs', sans-serif;
    color: white;
    margin: 1.5em 0 1em 0;
}

.video-100{
    margin-bottom: 1em;
}
