@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1, h4{
    justify-content: center;
    font-family: 'Shadows Into Light', cursive;
}



.btn-funky-moon {
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #60bba3, #2e9479);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #60bba3, #2e9479); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 5px solid #eee;
    border-radius: 35px;
    margin-top: 25px;
}

.monster2{
    width: 30%;
}