@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


.disney-navbar {

    display: flex;
    flex-direction: row;
    justify-content: start;

}

.mickey{
    width: 50px;
    margin-left: 15px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 5px 
    

}

.nav-btn{
    color: white;
}

.nav-btn:hover{
    cursor: pointer;
    color: #e1c849;
}

.cont-nav{
    display: flex;
    flex-direction: row;
}